{% extends "ExpencesBundle::layout.twig.html" %}

{% block page_title %}<h2>Login</h2>{% endblock %}

{% block content%}

{% if error %}
    <div>{{ error }}</div>
{% endif %}

<form action="{{ path('_security_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username|default('') }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="submit" value="Login" />
</form>
{% endblock %}
