<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Expences analyzer{% endblock %}</title>
    <!--    <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css"/>-->
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="/css/favicon.png"/>
  </head>
  <body>
    {% block body %}
      <div id="top">
        {% block header %}
          <div id="login">{% render "SecurityBundle:Auth:logged" %}</div>
          <div id="logo"><h1>Expences analyzer</h1></div>
        {% endblock %}
      </div>
      {% block menu %}
        <ul id="menu">
          <li><a href="{{ path('operations') }}">Operations</a></li>
          <li><a href="{{ path('operation_new') }}">New</a></li>
          <li><a href="{{ path('upload') }}">Upload</a></li>
          <li><a href="{{ path('tags_monthly_graph') }}">Stats</a></li>
        </ul>
      {% endblock %}
      <div id="middle">
        <div id="page_title">
          {% block page_title "Subpage" %}
        </div>
        <div id="content">
          {% block content "" %}
        </div>
      </div>
      <div id="bottom">{% block footer %}Made by: <a href="http://sznapka.pl">Sznapka.pl</a>{% endblock %}</div>
    {% endblock %}
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/graph.js"></script>
    {% block scripts "" %}
  </body>
</html>
