{% extends "ExpencesBundle::layout.twig.html" %}

{% block page_title %}<h2>Operations</h2>{% endblock %}

{% block content%}
  {% include "ExpencesBundle::filter.twig.html" with {"search": search} %}
  <table cellspacing="0">
    <colgroup>
      <col width="10%" />
      <col width="30%" />
      <col width="30%" />
      <col width="10%" />
      <col width="20%" />
    </colgroup>
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="5">Total operations count: {{ operations|length }}</th>
      </tr>
    </tfoot>
    <tbody>
      {% for operation in operations %}
        <tr id="id_{{ operation.id }}">
          <td>{{ operation.dateOperation|date("Y-m-d") }}</td>
          <td>{{ operation.type|lower }}</td>
          <td>{{ operation.description|lower }}</td>
          <td class="right">{{ operation.getPricePlnFormatted() }}</td>
          <td class="tags">
            <span class="tags-container">{% include "ExpencesBundle::tags.twig.html" with {"tags" : operation.tags} %}</span>
            <a href="#" class="tags-edit"><img src="/css/fugue-icons/icons/pencil.png"/></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/js/operations.js"></script>
{% endblock %}
